.section-container{
    background-color: aquamarine;
    /* height: 150px; */
    width: 300px;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
}
#textField{
    border: 0;
    height: 2em;
    width: 80%;
}
.inputs{
    border-radius: 5px;
}
.btn {
    background-color: rebeccapurple;
    color: antiquewhite;
    padding: 10px 20px;
    border: none;
    font-weight: 700;
    transition: .5s;
    border-radius: 5px;
}

.btn:hover{
    background-color: white;
    color: blueviolet;
}